.header-part {
  display: flex;
  flex-direction: row;
}

#home-first-photo {
  margin-left: 10px;
  margin-right: 10px;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.blog-image {
  width: 100%;
}

.blog-username {
  display: inline-block;
}