* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-header-container {
  background-color: rgb(228, 218, 218);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  align-items: center;
}

.header-text {
  font-size: 18px;
}

.logo-img {
  width: 40px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: black;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 30px;
  height: auto;
  transition: all 0.15s;
}

.logo img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.navbar ul {
  display: flex;
  list-style-type: none;
  font-family: Arial, sans-serif;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  transition: all 0.15s;
}

.navbar ul li a:hover {
  color: #ff6347;
  /* transform: rotate(360deg); */
  transform: translate(0px, 1px);
}

.navbar ul li a i {
  margin-right: 8px;
}

.navbar .menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 1048px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    background-color: #fff8ce;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
  }

  .navbar ul.show {
    display: flex;
  }

  .navbar .menu-toggle {
    display: block;
  }
}