.sign-up-form-container {
  display: flex;
  flex-direction: column;
  justify-content: cen;
  position: fixed;
  right: 450px;
  left: 450px;
}

.sign-up-header {

}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sign-up-button, .reset-button {
  flex: 1;
}

.input-box {
  height: 30px;
  margin-bottom: 6px;
  width: 100%;
  max-width: 300px;
}