.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sign-up-form-container {
  width: 100%;
}

.input-box-container {
  display: flex;
  flex-direction: column;
}

.input-box {
  min-height: 50px;
  margin-bottom: 6px;
  width: 100%;
  flex: 1;
  border-radius: 15px;
  border: 1px solid black;
}

.input-box::placeholder {
  font-size: 16px;
  padding-left: 2px;
}

.sign-up-header {
  display: inline-block;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.sign-up-button, .reset-button {
  min-height: 50px;
  flex: 1;
  border-radius: 15px;
  border: 1px solid black;
  margin: 4px;
}